.MyWallet {
    font-size: large;
    align-items: center;
    width: 60%;
    margin: 20px auto;
}

.MyWallet .WalletInfo {
    width: 85%;
    text-align: center;
    word-wrap: break-word;
    border: 1px solid #fff;
    padding: 5%;
    margin: auto;
}


.PublicAddress {
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid #fff;
    align-items: flex-end;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: inherit;
}

.Balance {
    border: 2px solid white;
    padding: 10px 32px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    color: white;
}