.Input {
  width: 100%;
  padding: 10px;
}

.LabelLine {
  display: flex;
  width: 100%;
  height: 20px;
  margin: 8px 60px;
  align-content: space-between;
}

.Label {
  font-weight: bold;
  width: 30%;
  text-align: left;
}

.ValidationError {
  width: 70%;
  text-align: left;
}

.InputElement {
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid #fff;
  width: 80%;
  padding: 8px 20px;
  margin: 6px 0;
}

.InputElement:focus {
  outline: none;
}

.Invalid {
  border: 1px solid red;
  background-color: salmon;
  color: #696969;
}

.Hidden {
  display: none;
}

.SelectItems {
  background-color: #444;
  color: whitesmoke;
  border: 1px solid #fff;
  width: 85%;
  padding: 8px 20px;
  margin: 6px 0;
}
